<header>
    <nav class="navigation bg-secondary-dark">
        <ul class="navigation__list">
            <li class="navigation__items"><a href="#" class="btn navigation__link">ارتباط</a></li>
            <li class="navigation__items"><a href="/teachers" class="btn navigation__link">اساتید</a></li>
            <li class="navigation__items"><a href="#" class="btn navigation__link">رویداد</a></li>
            <li class="navigation__items"><a href="#" class="btn navigation__link">دوره</a></li>
            <li class="navigation__items"><a href="#" class="btn navigation__link">آشنایی</a></li>
        </ul>
        <a href="/" class="logo">solo</a>
    </nav>
</header>