<% layout('layouts/boilerplate') %>

<% for(let course of courses) {%>

     <div class="path__el card">
        <div class="card-background" style="background-image: url(<%= course.image %>)"></div>
        <h3 class="path__name card-heading"><%= course.name %></h3>
        <a href="/courses/<%= course._id %>" class="card-btn">بیشتر</a>
    </div>

<% } %>

<a href="/courses/new" class="btn btn-tetriary">اضافه</a>