<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/main.css">

    <title>Solo institute</title>
</head>
<body>

<main>

    <header class="header">
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__items"><a href="#" class="btn navigation__link">ارتباط</a></li>
                <li class="navigation__items"><a href="/teachers" class="btn navigation__link">اساتید</a></li>
                <li class="navigation__items"><a href="#" class="btn navigation__link">رویداد</a></li>
                <li class="navigation__items"><a href="#" class="btn navigation__link">دوره</a></li>
                <li class="navigation__items"><a href="#" class="btn navigation__link">آشنایی</a></li>
            </ul>
            <a href="" class="logo">solo</a>
        </nav>
        <div class="header__heading">
            <h1 class="heading-main">آموزشگاه موسیقی سولو</h1>
            <h1 class="heading-english">solo music institute</h1>
        </div>
        <div class="header__buttons">
            <a href="#" class="btn btn-primary header__buttons-btn">مسیرت پیدا کن</a>
            <a href="#" class="btn btn-secondary header__buttons-btn">درباره ما</a>
        </div>
        <div class="header__arrow"><div class="arrow"></div></div>
    </header>

    <section class="about">
        <div class="about__description">
            <h2 class="heading light-heading">فعالیت آموزشگاه سولو</h2>
            <p>آموزش آکادمیک کلیه سبکهای موسیقی هنرهای تجسمی و نرم افزار های موسیقی، آموزش تخصصی آواز، سازهای سنتی، سازهای کلاسیک، سازهای کوبه ای، فن بیان و گویندگی، دارای استودیوی ضبط و سالن تمرین، دارای مجوز درجه یک از وزارت ارشاد اسلامی، اولین دارنده ISO در خاورمیانه با سابقه 19 ساله در امر آموزش، شرکت در نمایشگاه های messe آلمان در دو دوره</p>
            <p>اولین برگزار کننده کنسرت های هنرجویی در کشور از سال 1379 در سالن ابن خلدون دانشگاه علوم اجتماعی دانشگاه تهران و آوردن رتبه اول در جشنواره های کشور در سال 1385 و 1388 دارای اساتید حرفه ای و با تجربه در امر آموزش و دوره دیده در کلاس های TTT</p>
            <p class="farsi-p">آموزش آکادمیک کلیه سبکهای موسیقی هنرهای تجسمی و نرم افزار های موسیقی، آموزش تخصصی آواز، سازهای سنتی، سازهای کلاسیک، سازهای کوبه ای، فن بیان و گویندگی، دارای استودیوی ضبط و سالن تمرین، دارای مجوز درجه یک از وزارت ارشاد اسلامی، اولین دارنده ISO در خاورمیانه با سابقه 19 ساله در امر آموزش، شرکت در نمایشگاه های messe آلمان در دو دوره</p>
            <p>اولین برگزار کننده کنسرت های هنرجویی در کشور از سال 1379 در سالن ابن خلدون دانشگاه علوم اجتماعی دانشگاه تهران و آوردن رتبه اول در جشنواره های کشور در سال 1385 و 1388 دارای اساتید حرفه ای و با تجربه در امر آموزش و دوره دیده در کلاس های TTT</p>
        </div>
        <div class="about__image">
        </div>
    </section>

    <section class="courses">
        <h2 class="heading dark-heading">دوره های موسسه</h2>
        <div class="path">
            <div class="path__el card">
                <div class="card-background" id="bg1"></div>
                <h3 class="path__name card-heading">کلاسیک</h3>
                <a href="" class="card-btn">بیشتر</a>
            </div>
            <div class="path__el card">
                <div class="card-background" id="bg2"></div>
                <h3 class="path__name card-heading">سنتی</h3>
                <a href="" class="card-btn">بیشتر</a>
            </div>
            <div class="path__el card">
                <div class="card-background" id="bg3"></div>
                <h3 class="path__name card-heading">آواز</h3>
                <a href="" class="card-btn">بیشتر</a>
            </div>
            <div class="path__el card">
                <div class="card-background" id="bg4"></div>
                <h3 class="path__name card-heading">راک</h3>
                <a href="" class="card-btn">بیشتر</a>
            </div>
            <div class="path__el card">
                <div class="card-background" id="bg5"></div>
                <h3 class="path__name card-heading">جاز</h3>
                <a href="" class="card-btn">بیشتر</a>
            </div>
            <div class="path__el card">
                <div class="card-background" id="bg6"></div>
                <h3 class="path__name card-heading">پاپ</h3>
                <a href="" class="card-btn">بیشتر</a>
            </div>
            <div class="path__el card">
                <div class="card-background" id="bg7"></div>
                <h3 class="path__name card-heading">ادیتینگ</h3>
                <a href="" class="card-btn">بیشتر</a>
            </div>
            <div class="path__el card">
                <div class="card-background" id="bg8"></div>
                <h3 class="path__name card-heading">عکاسی</h3>
                <a href="" class="card-btn">بیشتر</a>
            </div>
        </div>
    </section>

    <section class="news">
        <h2 class="heading light-heading">بلاگ ها و رویدادها</h2>

        <ul class="news__container">
            <li class="news__items">
                <h3 class="news__items-header">نحوه تشخیص ساز مورد علاقه</h3>
            </li>
            <li class="news__items">
                <h3 class="news__items-header">تمرینات روزانه باید چطوری انجام شوند</h3>
            </li>
            <li class="news__items">
                <h3 class="news__items-header">نحوه تشخیص ساز مورد علاقه</h3>
            </li>
            <li class="news__items">
                <h3 class="news__items-header">نحوه تشخیص ساز مورد علاقه</h3>
            </li>
            <li class="news__items">
                <h3 class="news__items-header">نحوه تشخیص ساز مورد علاقه</h3>
            </li>
        </ul>
    </section>
    <section class="teachers">
        <h2 class="heading dark-heading">اساتید آموزشگاه سولو</h2>
        <div class="teachers__contain">
            <div class="teachers__container">
                <div class="teachers__container-img">
                    <img src="img/person1.jpg" alt="gelare">
                    <h4>فراموووووش</h4>
                    <svg class="icon icon-music"><use xlink:href="img/sprite.svg#icon-music"></use></svg>
                    <svg class="icon icon-headphones"><use xlink:href="img/sprite.svg#icon-headphones"></use></svg>
                </div>
                <div class="teachers__container-description">
                    <h4>گلاره بیبی</h4>
                    <p>وی در چند سالگی آغاز کرد و در چند سالگی زیر نظر استاد فلانی قبول شد و در چند سالگی فارغ التحصیل رشته فلان شده و حرفه خود را آغاز کرد</p>
                </div>
            </div>
            <div class="teachers__container">
                <div class="teachers__container-img">
                    <img src="img/person2.jpg" alt="ramtin">
                    <h4>از یاد تو</h4>
                    <svg class="icon icon-music"><use xlink:href="img/sprite.svg#icon-music"></use></svg>
                    <svg class="icon icon-headphones"><use xlink:href="img/sprite.svg#icon-headphones"></use></svg>
                </div>
                <div class="teachers__container-description">
                    <h4>گلاره بیبی</h4>
                    <p>وی در چند سالگی آغاز کرد و در چند سالگی زیر نظر استاد فلانی قبول شد و در چند سالگی فارغ التحصیل رشته فلان شده و حرفه خود را آغاز کرد</p>
                </div>
            </div>

            <div class="teachers__container">
                <div class="teachers__container-img">
                    <img src="img/person3.jpg" alt="amirreza">
                    <h4>من و سقوط گریه</h4>
                    <svg class="icon icon-music"><use xlink:href="img/sprite.svg#icon-music"></use></svg>
                    <svg class="icon icon-headphones"><use xlink:href="img/sprite.svg#icon-headphones"></use></svg>
                </div>
                <div class="teachers__container-description">
                    <h4>گلاره بیبی</h4>
                    <p>وی در چند سالگی آغاز کرد و در چند سالگی زیر نظر استاد فلانی قبول شد و در چند سالگی فارغ التحصیل رشته فلان شده و حرفه خود را آغاز کرد</p>
                </div>
            </div>
            <div class="teachers__container">
                <div class="teachers__container-img">
                    <img src="img/person4.jpg" alt="setare">
                    <h4>فانوسکای خاموش</h4>
                    <svg class="icon icon-music"><use xlink:href="img/sprite.svg#icon-music"></use></svg>
                    <svg class="icon icon-headphones"><use xlink:href="img/sprite.svg#icon-headphones"></use></svg>
                </div>
                <div class="teachers__container-description">
                    <h4>گلاره بیبی</h4>
                    <p>وی در چند سالگی آغاز کرد و در چند سالگی زیر نظر استاد فلانی قبول شد و در چند سالگی فارغ التحصیل رشته فلان شده و حرفه خود را آغاز کرد</p>
                </div>
            </div>
            <div class="teachers__container">
                <div class="teachers__container-img">
                    <img src="img/person5.jpg" alt="setare">
                    <h4>ستاره های سربی</h4>
                    <svg class="icon icon-music"><use xlink:href="img/sprite.svg#icon-music"></use></svg>
                    <svg class="icon icon-headphones"><use xlink:href="img/sprite.svg#icon-headphones"></use></svg>
                </div>
                <div class="teachers__container-description">
                    <h4>گلاره بیبی</h4>
                    <p>وی در چند سالگی آغاز کرد و در چند سالگی زیر نظر استاد فلانی قبول شد و در چند سالگی فارغ التحصیل رشته فلان شده و حرفه خود را آغاز کرد بیا و ببین چه کرده با دل ما بیا بالا و سوار شو بریم بزنیم به جاده های بی انتهای وجود تو میخوای بگی ای تو میخوای بگی ای بگی ای بگی ای</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <h2 class="heading light-heading">ارتباط با ما</h2>
        <section class="contact">
            <div class="contact__contacts">
                <div class="info-flex">
                    <label class="contacts-info">آدرس آموزشگاه سولو</label>
                    <span class="contacts-info">بلوار آفریقا - خیابان استرالیا - کوچه شهید مارکس - پلاک9 - زنگمون خرابه</span>
                    <label class="contacts-info">تلفن ها</label>
                    <span class="contacts-info">+81223540 - +25568877 - 09125326566</span>
                </div>
                <div class="social-media">
                    <a href="#" class="social-medias">
                        <svg class="icon icon-whatsapp"><use xlink:href="img/sprite.svg#icon-whatsapp"></use></svg>
                    </a>
                    <a href="#" class="social-medias">
                        <svg class="icon icon-instagram"><use xlink:href="img/sprite.svg#icon-instagram"></use></svg>
                    </a>
                    <a href="#" class="social-medias">
                        <svg class="icon icon-linkedin2"><use xlink:href="img/sprite.svg#icon-linkedin2"></use></svg>
                    </a>
                    <a href="#" class="social-medias">
                        <svg class="icon icon-telegram"><use xlink:href="img/sprite.svg#icon-telegram"></use></svg>
                    </a>
                    <a href="#" class="social-medias">
                        <svg class="icon icon-youtube"><use xlink:href="img/sprite.svg#icon-youtube"></use></svg>
                    </a>
                    <a href="#" class="social-medias">
                        <svg class="icon icon-google-plus"><use xlink:href="img/sprite.svg#icon-google-plus"></use></svg>
                    </a>
                    <a href="#" class="social-medias">
                        <svg class="icon icon-twitter"><use xlink:href="img/sprite.svg#icon-twitter"></use></svg>
                    </a>
                    <a href="#" class="social-medias">
                        <svg class="icon icon-facebook"><use xlink:href="img/sprite.svg#icon-facebook"></use></svg>
                    </a>
                </div>

                <div class="footer-logo">
                    <a href="#" class="logo logo-footer">Solo</a>
                    <p>آموزشگاه موسیقی سولو</p>
                </div>

            </div>
            <div class="contact__comments">
                <form action="#" class="comment">
                    <label for="name" class="comment-label">مشخصات</label>
                    <input dir="rtl" class="comment-input" type="text" id="name" placeholder="در صورت تمایل نام و نام خانوادگی خود را وارد کتید">

                    <label for="email" class="comment-label">ایمیل</label>
                    <input dir="rtl" class="comment-input" type="text" id="email" placeholder="ایمیل خود را وارد کنید">

                    <label for="phone" class="comment-label">شماره همراه</label>
                    <input dir="rtl" class="comment-input" type="text" id="phone" placeholder="در صورت تمایل شماره همراه خود را وارد کنید">

                    <label for="message" class="comment-label">توضیحات</label>
                    <textarea dir="rtl" class="comment-message" name="message" id="message"></textarea>
                </form>
            </div>
        </section>

        <p class="cp-text">تمامی این حقوق و حقوق های دیگر محفوظ می باشد &#169;
            طراح من 2021</p>
    </footer>
</main>


</body>
</html>