<% layout('layouts/boilerplate') %>

<% for(let instrument of instruments) { %>

<a href="/instruments/<%= instrument._id %>">
    <div class="section-instruments">
        <h1><%= instrument.name %></h1>
    </div>
</a>
<% } %>

<a href="/instruments/new" class="btn btn-tetriary">ساز جدید</a>