<% layout('layouts/boilerplate') %>

<form action="/register" method="post" class="validated-form comment" novalidate>
    <div class="">
        <label for="username" class="form-label comment-label">نام کاربری</label>
        <input type="text" class="form-control comment-input" id="username" name="username" required>
    </div>
    <div class="">
        <label for="email" class="form-label comment-label">ایمیل</label>
        <input type="email" class="form-control comment-input" id="email" name="email" required>
    </div>
    <div class="">
        <label for="password" class="form-label comment-label">کلمه عبور</label>
        <input type="password" class="form-control comment-input" id="password" name="password" required>
    </div>
    <button class="btn btn-tetriary">ثبت نام</button>
</form>